<html>
<head>
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
    <% if(parent.columnheader[iparentc].column === "Invoice Number") {%> 
        <title><%= parent.title + "#" + parent.row[0].column[iparentc].value %></title>
    <% } %>
<% } %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
@media print
{
  #printbutton
  {
    display:none ;
  }
  *
  {
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
}
</style>
<head>
<body>
<% for(var trans in transltn) {%>
      <% if(trans === "Print") {%> 
          <button id="printbutton" onclick="window.print();" rn="PrintInvoice" un="<%= transltn[trans] %>" ot="JButton"><%= transltn[trans] %></button>
      <% } %> 
<% } %>
<center><h1><u><b rn="AppletTitle" un="" ot="PlainText"><%= parent.title %></b></u></h1></center>
<p>
<table width="80%" align=center border="0">
  <tr>
    <td width="50%" rowspan=5 align=left><img src="images/logo.png"></td>
    <td width="50%" align=right>Oracle</td>
  </tr>
  <tr>
    <td width="50%" align=right>Oracle Parkway Redwood Shores</td>
  </tr>
  <tr>
    <td width="50%" align=right>CA 94065</td>
  </tr>
  <tr>
    <td width="50%" align=right>United States</td>
  </tr>
  <tr>
    <td width="50%" align=right>+1.650.506.7000</td>
  </tr>
</table>
<p>
<p>
<% var TATitle; %>
<% var TAValue; %>
<table width="80%" align=center border="0">
<% for(var iparentc = 0;iparentc < parent.columnheader.length;iparentc++) {%>
   <tr>
    <td width="20%" align=left><b><%= parent.columnheader[iparentc].title %></b></td>
    <td width="80%" align=left rn="<%= parent.columnheader[iparentc].column %>" un="<%= parent.columnheader[iparentc].title %>" ot="JText"><%= parent.row[0].column[iparentc].value %></td>
    <% if(parent.columnheader[iparentc].column === "Total Amount") {%> 
        <% TATitle =  parent.columnheader[iparentc].title ;%>
        <% TAValue =  parent.row[0].column[iparentc].value ;%>
    <% } %>
  </tr> 
<% } %>  
</table>
<p>
<table width="80%" align=center border="0">
  <tr>
    <td align=left bgcolor=lightgrey><b rn="AppletTitle" un="" ot="PlainText"><%= parent.child[0].title %></b></td>
  </tr>
</table>
<p>

<table width="80%" align=center border="0">
<tr> 
<% var AmountDisp; %>
<% var LineNumberDisp; %>
<% var TypeDisp; %>
<% var CommentsDisp; %>
<% for(var iLIc = 0;iLIc < parent.child[0].columnheader.length;iLIc++) {%>
    <% if(parent.child[0].columnheader[iLIc].column === "Line Number") {%>
        <% LineNumberDisp =  parent.child[0].columnheader[iLIc].title ;%>
    <% } %>
    <% if(parent.child[0].columnheader[iLIc].column === "Type") {%>
        <% TypeDisp =  parent.child[0].columnheader[iLIc].title ;%>
    <% } %>
    <% if(parent.child[0].columnheader[iLIc].column === "Comments") {%>
        <% CommentsDisp =  parent.child[0].columnheader[iLIc].title ;%>
    <% } %>
    <% if(parent.child[0].columnheader[iLIc].column === "Amount") {%>
        <% AmountDisp =  parent.child[0].columnheader[iLIc].title ;%>
    <% } %>
<% } %>
<% if(typeof(LineNumberDisp) !== "undefined") {%>
        <td width="10%" align=left bgcolor=lightgrey><b><%= LineNumberDisp %></b></td>
    <% } %>
    <% if(typeof(TypeDisp) !== "undefined") {%>
        <td width="20%" align=left bgcolor=lightgrey><b><%= TypeDisp %></b></td>
    <% } %>
    <% if(typeof(CommentsDisp) !== "undefined") {%>
        <td width="50%" align=left bgcolor=lightgrey><b><%= CommentsDisp %></b></td>        
    <% } %>
    <% if(typeof(AmountDisp) !== "undefined") {%>
        <td width="20%" align=right bgcolor=lightgrey><b><%= AmountDisp %></b></td>
    <% } %>
</tr>
</table>
<% var LINumber; %>
<% var LIType; %>
<% var LIComments; %>
<% var LIAmount; %>
<% for(var iLIrec = 0;iLIrec < parent.row[0].child[0].row.length;iLIrec++) {%>
    <% var Amount; %>
    <table width="80%" align=center border="0">
    <tr bgcolor=lightgrey> 
    <% for(var iLIc = 0;iLIc < parent.row[0].child[0].row[iLIrec].column.length;iLIc++) {%>
        <% if(parent.row[0].child[0].row[iLIrec].column[iLIc].name === "Line Number") {%>
            <% LINumber =  parent.row[0].child[0].row[iLIrec].column[iLIc].value ;%>
        <% } %>
        <% if(parent.row[0].child[0].row[iLIrec].column[iLIc].name === "Type") {%>
            <% LIType =  parent.row[0].child[0].row[iLIrec].column[iLIc].value ;%>
        <% } %>
        <% if(parent.row[0].child[0].row[iLIrec].column[iLIc].name === "Comments") {%>
            <% LIComments =  parent.row[0].child[0].row[iLIrec].column[iLIc].value ;%>
        <% } %>
        <% if(parent.row[0].child[0].row[iLIrec].column[iLIc].name === "Amount") {%>
            <% LIAmount =  parent.row[0].child[0].row[iLIrec].column[iLIc].value ;%>
        <% } %>
    <% } %>
    <% if(typeof(LINumber) !== "undefined") {%>
            <td width="10%" align=left rn="LineNumber" un="<%= LineNumberDisp %>" ot="JText"><%= LINumber %></td>
    <% } %>
    <% if(typeof(LIType) !== "undefined") {%>
        <td width="20%" align=left rn="LineType" un="<%= TypeDisp %>" ot="JText"><%= LIType %></td>
    <% } %>
    <% if(typeof(LIComments) !== "undefined") {%>
        <td width="50%" align=left rn="LineComments" un="<%= CommentsDisp %>" ot="JText"><%= LIComments %></td>            
    <% } %>
    <% if(typeof(LIAmount) !== "undefined") {%>
        <td width="20%" align=right rn="LineAmount" un="<%= AmountDisp %>" ot="JText"><%= LIAmount %></td>
    <% } %>
    </tr>
    </table>
    <table width="80%" align=center border="0">
    <% var LIDNumber; %>
    <% var LIDDescription; %>
    <% var LIDAmount; %>
    <% for(var iLIDrec = 0;iLIDrec < parent.row[0].child[0].row[iLIrec].child[0].row.length;iLIDrec++) {%>
        <tr>
        <% for(var iLIDc = 0;iLIDc < parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column.length;iLIDc++) {%>
            <% if(parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].name === "Line Number") {%>
                <% LIDNumber =  parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].value ;%>
            <% } %>
            <% if(parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].name === "Description") {%>
                <% LIDDescription =  parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].value ;%>
            <% } %>
            <% if(parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].name === "Amount") {%>
                <% LIDAmount =  parent.row[0].child[0].row[iLIrec].child[0].row[iLIDrec].column[iLIDc].value ;%>
            <% } %>
        <% } %>
        <% if(typeof(LIDNumber) !== "undefined") {%>
                <td width="10%" align=right><i rn="LineDetailNumber" un="" ot="JText"><%= LINumber %>.<%= LIDNumber %></i></td>
        <% } %>
        <% if(typeof(LIDDescription) !== "undefined") {%>
            <td width="70%" align=left><i rn="LineDetailDescription" un="" ot="JText"><%= LIDDescription %></i></td>
        <% } %>
        <% if(typeof(LIDAmount) !== "undefined") {%>
            <td width="20%" align=right><i rn="LineDetailAmount" un="" ot="JText"><%= LIDAmount %></i></td>
        <% } %>
        </tr>
    <% } %>
    </table>
<% } %>

<p>
<table width="80%" align=center border="0">
  <tr>
      <td width="80%" align=right bgcolor=lightgrey><b><%= TATitle %></b></td>
      <td width="20%" align=right bgcolor=lightgrey  rn="InvoiceTotal" un="<%= TATitle %>" ot="JText"><%= TAValue %></td>
  </tr>
</table>
</body>
</html>