
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.ui-dialog-buttons{
	border: red;
    border-style: inset;
}


.ui-dialog-content.ui-widget-content{
	background: linear-gradient(180deg, #aaa, rgba(245, 245, 245, 0.01));
    border-color: #ddd;
}


.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	background: black;
	padding: 0px;
}


.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	background: #7ce67c;
    border: 1px solid #3cb53c !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
	background: linear-gradient(360deg, #aaa, white);
    border-color: #ddd;
}

.ui-dialog{
	padding:10px;
}


.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    padding: 5px 13px 5px 13px;
    margin: 1em 7em 1em;
}


.ui-dialog-title{
    font-size: 100% !important;
    color: white !important;
    text-align: center !important;
	font-weight: 500!important;
}


button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none !important;
}